<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="description" content="Full text search for Shakespeare's plays and poems.">
    <meta name="author" content="//samdutton.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="name" content="Full text search for Shakespeare's plays and poems.">
    <meta itemprop="image" content="images/icons/icon192.png">
    <meta id="theme-color" name="theme-color" content="#fff">

    <link rel="icon" href="images/icons/icon192.png">
    <link rel="manifest" href="/manifest.json">

    <title>SQLite search</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>

  </head>
  <body>
    <h1>SQLite full text search</h1>
    <input id="query" autofocus>
    <button id="search">Search</button>
  </body>
</html>
